<h1>Progress Bar and Spinner</h1>

<mat-progress-bar
  mode="determinate"
  [value]="loadingPercent"
  color="primary"
></mat-progress-bar>
<br />
<mat-progress-bar
  mode="determinate"
  [value]="loadingPercent"
  color="accent"
></mat-progress-bar>
<br />
<mat-progress-bar
  mode="determinate"
  [value]="loadingPercent"
  color="warn"
></mat-progress-bar>

<h1>Loading waiting case</h1>

<mat-progress-bar
  mode="determinate"
  [value]="queryValue"
  [mode]="queryMode"
  color="warn"
></mat-progress-bar>

<h1>Playback</h1>

<mat-progress-bar
  mode="buffer"
  [value]="loadingPercent"
  [bufferValue]="currentPlayback"
  color="warn"
></mat-progress-bar>

<hr />

<h1>Spinner</h1>

<mat-spinner mode="indeterminate" color="primary"></mat-spinner>

<br />

<h1>Progress Spinner</h1>

<mat-progress-spinner
  mode="determinate"
  [value]="queryValue"
  color="primary"
  [strokeWidth]="10"
></mat-progress-spinner>
